/* VARIABLES */

$bg-color: black;
$gray-text: #c2c2c2;
$base-font-size: 16px;
$base-font-color: #FFF;
$base-font: "Open Sans", sans-serif;
$base-margin: 2rem;

/* MEDIA QUERIES */

$tablet-width: 600px;
$desktop-width: 1000px;

/* MIXINS */

@mixin desktop {
    @media (min-width: $desktop-width) {
      @content;
    }
}

@mixin tablet {
    @media (min-width: $tablet-width) {
      @content;
    }
}

/* STYLE FROM HERE */

body {
    background-color: $bg-color;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    @include tablet {

    }
    @include desktop {

    }
}

.load-gif {

}

.news-feed {
    padding-top: 30px;

    @include tablet {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.logo-select {

    @include tablet {
    display: flex;
    flex-direction: row;
    align-self: center;
}
}

.article {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column-reverse;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &:hover {

        h2{
            color: $gray-text;
            transition-duration: 2s;
            visibility: visible;
            height: 100px;
        }
    }

    @include tablet {
        width: 32.8vw;
        height: 300px;
        }

    @include desktop {
        width: 24.7vw;
        height: 400px;
    }
}

   h2 {
       font-size: 16px;
       color: white;
       height: 0px;
       visibility: hidden;
       transform: out;
       transition-duration: 1s;
       text-align: left;
       text-indent: 10px;
       font-weight: bold;
       background-color: rgba(0, 0, 0, 0.3);
       font-family: "Open Sans", sans-serif;

       
   }

   a {
       text-decoration: none;
   }


.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;

    @include tablet {
        flex-direction: row;
    }

    @include desktop {
        align-self: flex-start;
        
    }
}

.news-logo {
    padding-top: 100px;

    @include tablet {
        align-self: flex-start;
    }

    @include desktop {
        padding-left: 40px;
        padding-top: 35%;
    }

}

/* SELECT SECTION */

.select-container {
    display: flex;
    flex-direction: column;

    @include tablet {
        align-self: flex-end;
        margin: 8px;
        margin-bottom: 80px;
    }

    @include desktop {
        padding-left: 30px;
    }

    .choose-head {
        color: $base-font-color;
        text-align: center;  
        font-size: $base-font-size;
        font-family: $base-font;
        margin-top: $base-margin;

        @include tablet {

        }
    }

    .select-box {
        margin-top: $base-margin;
        width: 100px;
        align-self: center;

        @include tablet {
            align-self: flex-start;
            margin-top: 15px;
        }
    }
}

/* SELECTRIC */

.selectric {

    &:hover {
    }

    .label {
        font-size: 16px;
    }

    .selectric-items {
    }
}

/* FOOTER */

.footer{
    padding-top: 100px;

    .copyright {
        color: $gray-text;
        font-family: $base-font;
    }

    @include tablet {
        padding-top: 150px;
        align-self: center;
    }

    @include desktop {
        align-self: flex-start;
        padding-left: 50px;
        padding-bottom: 30px;
    }
}